'.source.js':
  'Create simple component':
    'prefix': 'comp'
    'body': """
import React, { Component } from 'react';

export default class $1 extends Component {
	render() {
		return(
			$2
		);
	}
}
    """
  'Create provider connector':
    'prefix': 'conn'
    'body': """
export default connect(mapStateToProps)($1);
    """
   'Create smart component':
    'prefix': 'smartcomp'
    'body': """
import React, { Component } from 'react';
import { connect } from "react-redux";

import { $2 } from '../../actions/$1Action';

@connect((store) => {
  const { $5 } = store.$6;
  return {
    $7
  };
})

export default class $1 extends Component {
  render() {
    return(
      $4
    );
  }
}
   """
   'Create Action':
    'prefix': 'action'
    'body': """
export function $1() {
	return dispatch => {
		dispatch({
			type: "$2",
			data: {}

		});
	}
}
    """
   'Create Reducer':
    'prefix': 'reducer'
    'body': """
export default function reducer(state={
    $2
  }, action) {

    switch (action.type) {
      case $1: {
        return {
          ...state,
          $3
        }
      } break;
      case 'ERROR': {
        return {
          ...state,
          $4
        }
      } break;
    }
    return state
}
    """
   'Import Var':
    'prefix': 'impvar'
    'body': """
import { $1 } from '$2';
    """
   'Import Var':
    'prefix': 'imp'
    'body': """
import $1 from '$1';
    """
   'Import':
    'prefix': 'testcomp'
    'body': """
import { renderComponent, expect } from '../test_helper';
import $1 from '../../src/components/$2';

describe('$1', () => {

    it('my test description', () => {
      const component = renderComponent($1)
      expect(component).to.contain('my comment');
    });

});
    """
   'Test Component':
    'prefix': 'testcomp'
    'body': """
import { renderComponent, expect } from '../test_helper';
import $1 from '../../src/components/$2';

describe('$1', () => {

    it('my test description', () => {
      const component = renderComponent($1)
      expect(component).to.contain('my comment');
    });

});
    """
   'Test Action':
    'prefix': 'testaction'
    'body': """
import { expect } from '../test_helper';

describe('Actions', () => {

  describe('My describe', () => {

    it('Has the correct type', () => {
      $1
    });

    it('Has the correct data', () => {

    });

  });
});
    """
